@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:ital,wght@1,300&family=Patua+One&family=Poppins&family=Roboto:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)),url(mountain.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
   
  width: 100%;
  min-width: 700px;
  background-color: rgb(255, 255, 255, 0.2);
   display: flex; 
   align-items: center;
   border-radius: 60px;
   padding: 10px 20px;
   backdrop-filter: blur(4px) saturate(180%);
   
}

.search-bar input {
    flex: 1;
    font-size: 20px;
    padding: 20px 40px;
    background: transparent;
    border: 0;
    outline: none;
    color: #cac7ff;
}

::placeholder{

    color: hsl(243, 100%, 89%);

}

.search-bar button img{
    width: 25px;
}

.search-bar button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background: #475084;
    cursor: pointer;
}